.form-container {
    
    .form-group-row{
        display: flex;
    }

    .submit-phone-col{
        display: flex;
        flex-direction: column;
    }

    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    box-sizing: border-box;

    h2 {
        margin-top: 0;
        font-weight: 600;
        color: #333333;
    }

    p {
        font-size: 16px;
        margin: 5px 0 20px;
        color: #333333;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .form-group {
            padding-right: 10px;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            label {
                margin-bottom: 5px;
            }

            input {
                padding: 5px;
                border: 1px solid #ccc;
                border-radius: 3px;
            }
        }

        button {
            max-width: 250px;
            padding: 13px 31px;
            background-color: #FF352B;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin-bottom: 10px;
            transition: background-color 0.3s ease;
            box-shadow: 3px 1px 0 1px #FED100

        }

        .form-check {
            display: flex;
            align-items: center;
            font-size: 12px;

            input {
                margin-right: 5px;
            }
        }
    }

    #consent{
        border-bottom: 1px solid #000;
       
    }
    #phone,#name{
        border: none;
        border-bottom: 1px solid #000;
        margin-right: 20px;
    }
}

@media (max-width: 320px) {
 .form-container{
    text-align: center;
    padding: 5px;
    h2{
        font-size: 20px;
        line-height: 24.38px;
    }
    p{
        font-size: 15px;
    }
    form{
        .form-group-row{
            display: flex;
            flex-direction: column;
            .form-group{
                width: 267px;

                #phone,#name{
                    margin-right: 0;
                }
            }
        }
    }
   }

   }